@tailwind base;
@tailwind components;
@tailwind utilities;

.mask-bg {
  background-color: #000000B2;
}

.others-hero {
  background-image: url(../images/others-hero.svg);
  background-position: cover;
  object-fit: cover;
}

.contact-hero {
  background-image: url(../images/contact-hero.svg);
  background-position: cover;
  object-fit: cover;
}

.consultation-hero {
  background-image: url(../images/consultation-hero.svg);
  background-position: cover;
  object-fit: cover;
}

.faq-hero {
  background-image: url(../images/faq-hero.svg);
  background-position: cover;
  object-fit: cover;
}

.track-bg {
  background-image: url(../images/track-bg.png);
  background-size: cover;
  background-position: center center;
  object-fit: cover;
}

.badge--primary {
  font-size: 12px; 
  font-weight: 500; 
  color: white;
  background-color: rgb(32, 129, 226);
}

.badge--secondary {
  font-size: 12px; 
  font-weight: 500;
  color: rgb(112, 122, 131); 
  background-color: rgb(229, 232, 235);
}

.badge--neutral {
  font-size: 12px; 
  font-weight: 500;
  color: rgb(112, 122, 131); 
}

.inactive {
  opacity: 0.5;
}

.avatar {
  height: 24px;
  width: 24px;
  object-fit: contain;
}

body {
  font-family: 'Lato', sans-serif;
}

button[type=submit] {
  background: rgba(30, 64, 175);
}

button[type=submit]:hover {
  background-color: white;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}