body {
    font-family: 'Poppins', sans-serif !important;
    color:#587087;
}
.wallets .home{
    color:#587087;
}
nav a{
    color:#5878bc!important;
    font-weight:600;
}
#pills-tab .nav-item a {
    color: #222;
}
.nav-pills .nav-link:hover{
    background-color: #ccc5;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
background:#5878bc;
color: #fff!important;
}
#footer .col-3 a{
    font-size: 13px;
    color: #587087!important;
    text-decoration: none;
    font-weight: 400;
}
#footer .socialf {
    max-width:50%!important;
}
.footimg {
    height: 1.25rem;
}
.btn.btn-primary.col-12.btn-send {
    background: #2a498d;
    font-weight: 600;
    border-color:#5878bc;
}
.desc{
    color: #2a498d;
    font-weight: 600;
    display: block;
    text-align: center;
    width: 100%;
    font-size:13px;
}
.nav-pills .nav-link.roundin{
    border-radius: 3rem;
}

h1 {
    margin-bottom: 40px;
}

label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
}
.col-12.text-center.lpfxqP {
    color:#587087;
    font-size: 30px;
    font-weight: 300;
}
.wall-impo {
    color:#587087!important;
    font-size: 35px;
    font-weight: 500;
}


.modal {
    display: none;
    z-index: 10000;
    overflow: scroll;
  }
  
  .modal.visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(16, 17, 20, 0.8);
  }
  
  .modal .mask {
    width: 100%;
    margin: 0 auto;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    position: relative;
    padding: 6rem 2rem 2rem 2rem;
  }
  
  .modal .mask .mask-close {
    right: 3rem;
    top: 3rem;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
  }
  
  @media screen and (min-width: 760px) {
    .modal .mask {
      padding: 10rem 0 0 0;
      padding: 6rem 4rem;
    }
    .modal .mask .mask-close {
      right: 5rem;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .modal .mask {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 6rem;
    }
    .modal .mask .mask-close {
      right: 7rem;
    }
  }
  
  .modal .mask .mask-contents {
    background-color: white;
    border-radius: 4px;
    padding: 2rem;
  }
  



#application-final-modal .mask-contents {
    padding: 2rem 5rem;
    text-align: center;
  }
  
  #application-final-modal .mask-contents .icon {
    height: 10rem;
    width: 10rem;
    border: 1px solid #51C272;
    border-radius: 50%;
    margin: 1rem auto;
  }
  
  #application-final-modal .mask-contents .cta {
    margin-top: 2rem;
    padding: 0.7rem 5rem;
    background-color:#007bff;
    border-radius: 4px;
    color: white;
    border: transparent;
    cursor: pointer;
  }
  
  #application-final-modal .mask-contents .cta:hover {
      background-color: teal;
  }

  .large-text {
      font-size: 2rem;
      font-weight: bold;
  }

  .small-text {
      font-size: 1.2rem;
  }